@font-face {
    font-family: 'LightCondensed';
    src: url('../fonts/LightCondensed/FUTURALC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Book';
    src: url('../fonts/Book/FUTURAN.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bold';
    src: url('../fonts/Bold/FUTURAB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
	/*background: #F2F2F2;*/
	font-family: "Book";
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
	width: 100%;	
	margin: 0px;
	padding: 0;
	background-image: -webkit-linear-gradient(#FFF, #F2F2F2);
	background: -moz-linear-gradient(top,  #fff,  #f2f2f2);
	background-attachment:fixed;
}
.clear{clear:both;}
div#navbar{
	width: 100%;
	position: fixed;
}
#main-heading{
	font-family: 'Book';
	color: #000;
}
#content-container{
	background-image: linear-gradient(top, #555, #CC0000);
/*	border: #d1d1d1 8px solid;*/
	/*width: 950px;*/
	/*margin: 0 auto;*/
	padding: 10px;
/*	height: 100%;*/
	position: relative;
}

.cssgradients{
    background-image: linear-gradient(#CC0000, #333);
}

h1{
	text-indent: 100px;
	letter-spacing: -1px;
	color: #CC0000;
	border-bottom: #575757 1px solid;
}

div.roadmap{
/*	border: #f2f2f2 1px solid;*/
	/*overflow: auto;*/
	margin-top: 150px;
	margin-right: -999em;
	/*padding: 5px 5px 5px 15%;*/
	min-height: 900px;
}
div.roadmap h2{text-align: center;}
div.roadmap div.milestone div.step{
	padding: 5px 2px;
	border-bottom: #feebfa 1px solid;
	margin: 2px 0;
	clear: both;
}

div.step .task-link{
	width: 75px;
	float: right;
}

div.step input[type=checkbox]{
	float: left;
}
div.step label{
	margin-left: 15px;
	font-size: 13px;
	font-weight: 200;
	float: left;
}

div.roadmap div.milestone div.step div.tasks-wrapper{
	padding: 10px;
	border-top: #d1d1d1 1px solid;
	width: 90%;
	margin: 10px auto 0 auto;
	clear: both;
}
div.roadmap div.milestone{
	float: left;
	border: #d1d1d1 1px solid;
	padding: 3px;
	min-height: 500px;
	background: #FFF;
	margin: 5px;
	width: 500px;
	-webkit-box-shadow: #575757 1px 1px 1px;
    -moz-box-shadow: #575757 1px 1px 1px;
    box-shadow: #575757 1px 1px 1px;
/*	border: 1px solid #141414;*/
	-webkit-border-radius: 0 0 12px 12px;
	-moz-border-radius: 0 0 12px 12px;
	border-radius: 0 0 0 12px;
}


h3.title{
	padding: 5px 0 0 0!important;
/*	text-indent: 32px;*/
	text-align: center;
/*	font-style: italic;*/
	background: #f8f8f8;
/*	text-align: center;*/
	font-weight: 100;
	border-bottom: #d1d1d1 1px dotted;
	font-size: 16pt;
	margin-top: 2px !important;
	font-family: 'Bold';
}

div.step.complete{
	color: #588F27;
	background: #eaf9ec;
/*	text-decoration: line-through;*/
/*	color: #fff;*/
/*	border: #A9CF54 1px solid !important;*/
}

/*div.step.complete label{text-decoration: line-through;}*/

div.flash-message{
	z-index: 9999;
	height: 100%;
	width: 100%;
	background: green;
	position: fixed;
}

div.flash-message h1{
	margin: 0;
	padding: 0;
	border: 0 !important;
	color: #FFF !important;
	text-align: center;
	margin-top: 250px;
}

input.add-new-field{
	font-size: 30pt !important;
	width: 450px;
	padding: 5px;
	/*font-family: "Helvetica Neue", Helvetica, Arial !important;*/
	font-weight: 100 !important;
}

a.save-link{
	padding: 10px 10px;
	display: block !important;
	width: 120px;
	background: #eaf9ec;
	color: #30b53f !important;
	/*font-family: "Helvetica Neue", Helvetica, Arial !important;*/
	font-size: 18pt;
	text-decoration: none;
	font-weight: 100 !important;ign: center;
	text-align: center;
	margin: 10px auto;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
}
a.save-link:hover{
	background: #ED9C1A;
}


div.roadmap-actions{
	width: 200px;
	position: absolute;
	top: 70px;
	left: 110px;
}


a.add-step, a.delete-milestone{
	display: block;
	float: left;
	width: 70px;
}

a.add-step {
	margin-right: 5px;
}

a.delete-milestone{
	width: 120px;
	clear: right;
}

a.step-delete{
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	background: url(../img/icon_trash.gif) no-repeat;
	font-size: 0pt;
	border: 0;
	text-decoration: none !important;
	
}
a.delete-roadmap{
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/icon_trash.gif) no-repeat;
	font-size: 0pt;
	border: 0;
	text-decoration: none !important;
	margin: 0 auto;
}

div.bottom{
	background: #f2f2f2 !important;
	border-top: #d1d1d1 1px solid;
	padding-top: 10px;
}

div.empty-roadmap{
	width: 400px;
	height: 250px;
	background: url(../img/empty-roadmap.png) no-repeat;
	margin: 0 auto;
}



/*a.roadmap-add{
	padding: 7px 20px;
	margin: 0 auto;
	color: #FFF;

	background: #757575;
	display: block;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-decoration: none;
	width: 170px;
	text-align: center;
}*/

a.roadmap-add:hover{
		background: #498B18;
}

div.lightbox{
	width: 500px !important;
	position: absolute;
	height: 700px !important;
	top: 50px;
	left: 50%;
	margin-left: -250px !important;
	z-index: 999;
}

div.lightboxbg{
	background: url(../img/ui-bg_diagonals-thick_15_444444_40x40.png);
	z-index: 995;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0.6;
}

div.lightbox.milestone{
	-webkit-box-shadow: #ffffff 10px !important;
    -moz-box-shadow: #ffffff 10px 10px 10px !important;
    box-shadow: #575757 5px 5px 5px!important;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;	
}

div.lightbox.milestone div.step label{
	font-size: 14pt !important;
}

div.lightbox.milestone h3{
	font-weight: bold;
}

a.close-window{
	display:block;
	float: right;
	height: 28px;
	width: 28px;
	background: url(../img/apple-close.png) no-repeat;
	margin-right: -30px;
	margin-top: -20px;
}

a.magnify{
	display: block;
	float: right;
	background: url(../img/magnify.png) no-repeat;
	width: 26px;
	height: 26px;
	font-size: 0pt;
}

div.logo{
	width: 100px;
	height: 150px;
	background: url(../img/logo.png) no-repeat;
	position: absolute;
}

img#beta-logo{
	position: absolute;
	right: 40px;
}

div.emptyMilestone{
	color: #d1d1d1;
	font-size: 1em;
	text-align: center;
	padding: 15px 0;
/*	border: #000 1px solid;*/
	margin-top: -15px;
}
div#roadmap-switcher{
	position: absolute;
	top: 15px;
	left: 250px;
}
.roadmap-heading{
	text-align: right;
	/*margin-top: 150px;*/
	position: fixed;
	right: 0;
	font-family: 'LightCondensed';
	color: #d1d1d1;
	border: none;
}
a#roadmap-add{
	float: right;
	margin-left: 5px;
}

div.due-date{
	margin-top: -30px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Book';
	text-transform: uppercase;
}

div.step div.add-task-form{
	background: #f2f2f2;
	padding: 5px;
}

div.step div.add-task-form input[type=text]{
	width: 75%;
	float: left;
}

div.step div.add-task-form input.btn{
	float: right;
	width: 15%;
	margin-right: 10px;
}
.task-check-div{
	clear: both;
	width: 100%;
}